/* Main stylesheet for Drtracker theme */

:root {
  --primary-color:#7C5DFF;
  --primary-hover-color: #5B44BF;
  --gray-color: #F5F7F9;
  --gray-color-25:#F9FAFB;
  --bgtag-color: #EFEBFF;
  --bg-blue-color: #5B44BF;
  --base-dark-color:#000;
  --white-color:#fff;
  --dark-color: #1C222B;
  --dark-slate-color: #3D4A5C;
  --link-color: #2D3643;
  --green-w-color: #C9FF85;
  --font-family: "Open Sans", sans-serif;
  --font-heading: "Inter", sans-serif;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  background: var(--white-color);
  color: var(---dark-slate-color);
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
}

html {
    scroll-behavior: smooth;
  }
  
  
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--base-dark-color);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.2rem;
}

h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: initial;
}

section {
  padding: 60px 0;
}
.container {
  max-width: 80rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}
 img {
  max-width: 100%;
  height: auto;
 }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-grid {
  display: grid;
  grid-gap: 30px;
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.bg-gray {
  background-color: var(--gray-color);
}
