/* Main stylesheet for Drtracker theme */

:root {
  --primary-color: #5B44BF;
  --gray-color: #F5F7F9;
  --accent-color: #0066cc;
  --base-dark-color:#000;
  --dark-color: #1C222B;
  --green-w-color: #C9FF85;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--primary-color);
  line-height: 1.6;
}
