{# Extinde html.html.twig direct #}
{% extends "page.html.twig" %}

{% block page %}
  <div class="login-page">
    <div class="container">
      <div class="login-form-wrapper">
        <div class="login-card">
          <h1 class="login-title">{{ 'Login'|t }}</h1>
          <div class="login-content">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
