{% extends "themes/custom/drtracker/templates/layout/page.html.twig" %}

{% block content %}
  <div class="login-page">
    <div class="login-form-wrapper">
      <h2 class="login-title">{{ 'Login'|t }}</h2>
      {{ page.content }}
    </div>
  </div>
{% endblock %}
