{#
/**
 * @file
 * Theme override for 404 Not Found page.
 */
#}


{% block content %}
<div class="container">
  <div class="error-page error-404">
    <h2>{{ 'Page not found'|t }}</h2>
    <p>{{ 'Sorry, the page you are looking for does not exist.'|t }}</p>
    <p>
      <a href="{{ path('<front>') }}" class="btn btn-error">{{ 'Return to homepage'|t }}</a>
    </p>
  </div>
</div>
{% endblock %}
