<div class="social-links">
  {% for item in content.field_social_items %}
    {% set social = item['#paragraph'] %}
    
    <a href="{{ social.field_social_link.uri }}" 
       class="social-icon-link"
       title="{{ social.field_social_name.value }}"
       target="_blank"
       rel="noopener noreferrer"
    >
      {{ social.field_social_icon }}
    </a>
  {% endfor %}
</div>
