<div{{ attributes.addClass('job-content') }}>
  {% if label_display != 'hidden' %}
    <h4{{ title_attributes }} class="job-label">{{ label }}</h4>
  {% endif %}
  
  {% for item in items %}
    <div class="jobs-text">
      {{ item.content }}
    </div>
  {% endfor %}
</div>
