<div{{ attributes.addClass('before-title d-flex') }}>
  {% if not label_hidden %}
    <h3{{ title_attributes }}>{{ label }}</h3>
  {% endif %}
<span><i class="fa-solid fa-fire"></i></span>
  {% for item in items %}
   <span>   {{ item.content['#title'] }}</span>
  {% endfor %}
</div>
