{#
/**
 * @file
 * Card List Temaplte
 */
#}
{% set classes = [
  'list-card',
] %}

<div{{ attributes.addClass(classes) }}>
  {# Title #}
  {% if paragraph.field_title.value %}
    <h6 class="list-card__title">
      {{ paragraph.field_title.value }}
    </h6>
  {% endif %}
  
  {# Description #}
  {% if paragraph.field_description.value %}
    <div class="list-card__description">
      {{ paragraph.field_description.value|raw }}
    </div>
  {% endif %}
  
</div>
