<a href="{{ paragraph.field_social_link.uri }}" 
   class="social-icon-link"
   title="{{ paragraph.field_social_name.value }}"
   target="_blank"
   rel="noopener noreferrer"
>
  
    {{content.field_social_icon}}
 
</a>
