<section class="features">
<div class="container">
   <div class="section-title">
      {#<div class="before-title">{{paragraph.field_before_title.value}}</div>#}
      {{content.field_before_title}}
      <div class="title"><h2>{{paragraph.field_title.value}}</h2></div>
   </div>
  <div class="features-wrapp">
    
  </div>
</div>
</section>
