<section class="plans-section">
<div class="container">
   <div class="section-title">
      {{content.field_before_title}}
      <div class="feature-section-title"><h2 class="heading-title">{{paragraph.field_title.value}}</h2></div>
   </div>


 <div class="billing-toggle">
      <button class="btn btn-primary active" data-billing="monthly">Monthly</button>
      <button class="btn btn-outline" data-billing="yearly">Yearly</button>
    </div>
  </div>


<div class="plans-wrapper d-grid">
{{content.field_plans}}
</div>







</div>
</section>
