<section class="about-team">
<div class="container">
   <div class="section-title">
      {{content.field_before_title}}
      <div class="about-team-title"><h2 class="heading-title">{{paragraph.field_title.value}}</h2></div>
<div class="description">
      {{paragraph.field_about_text_team.value| raw}}
    </div>
   </div>


      <div class="team-wrapp d-grid cols-4">
        {{content.field_about_team_cards}}
     </div>





</div>
</section>
