<section class="feature-work">
<div class="container">
   <div class="section-title">
      {{content.field_before_title}}
      <div class="feature-section-title"><h2 class="heading-title">{{paragraph.field_title.value}}</h2></div>
      <div class="feature-work-text">{{paragraph.field_feature_work_text.value}}</div>
   </div>



<div class="features-work-wrapp d-grid cols-3">
          {{ content.field_cards_features }}
    </div>





</div>
</section>
