<section class="testimonials">
<div class="container">

<div class="section-title">
    {{ content.field_before_title }}
    <h1 class="heading-title">{{paragraph.field_title.value}}</h1>
   <div class="description">
      {{paragraph.field_testimonials_description.value}}
    </div>
</div>


{{content.field_testimonials_slider}}




</div>
</section>
