{#
/**
 * @file
 * List Value Template
 */
#}
{% set classes = [
  'counters-wrapper',
] %}

<div{{ attributes.addClass(classes) }}>

<div class="counter-item">
  <div class="counter-number">
    {{ paragraph.field_counter_number.value }}<span>+</span>
  </div>
  <div class="counter-label">
    {{ paragraph.field_counter_label.value }}
  </div>
</div>


</div>
