{#
/**
 * @file
 * Card List Temaplte
 */
#}
{% set classes = [
  'list-card d-flex',
] %}

<div{{ attributes.addClass(classes) }}>
<div class="list-item-value">
  <div class="list-card__number">
   {{ paragraph.field_label_value.value }}
  </div>
</div>
<div class="list-item-desc">
 {% if paragraph.field_title.value %}
    <h6 class="list-card__title">
      {{ paragraph.field_title.value }}
    </h6>
  {% endif %}
 {% if paragraph.field_description.value %}
    <div class="list-card__description">
      {{ paragraph.field_description.value|raw }}
    </div>
  {% endif %}
</div>
 
 
  

 
  
</div>
