{#
/**
 * @file
 * Card paragraph template
 */
#}
{% set classes = [
  'card',
  'paragraph--type--card',
] %}

<div{{ attributes.addClass(classes) }}>
  
  {# Image #}
  {% if content.field_image|render %}
    <div class="card__image">
      {{ content.field_image }}
    </div>
  {% endif %}
  
  {# Title #}
  {% if paragraph.field_title.value %}
    <h4 class="card__title">
      {{ paragraph.field_title.value }}
    </h4>
  {% endif %}
  
  {# Description #}
  {% if paragraph.field_description.value %}
    <div class="card__description">
      {{ paragraph.field_description.value|raw }}
    </div>
  {% endif %}
  
</div>
