<section class="about-team">
<div class="container">
   <div class="section-title">
      {{content.field_before_title}}
      <div class="about-team-title"><h2 class="heading-title">{{paragraph.field_title.value}}</h2></div>
   </div>



{{content.field_team}}

</div>
</section>
