<a href="{{ paragraph.field_social_link.uri }}" 
   class="social-icon-link"
   title="{{ paragraph.field_social_name.value }}"
   target="_blank"
   rel="noopener noreferrer"
>
  {% if paragraph.field_social_icon %}
    {{paragraph.field_social_icon.value}}
  {% endif %}
</a>
