<section class="plans-section">
<div class="container">
     <div class="section-title">
      {{content.field_before_title}}
      <div class="feature-section-title"><h2 class="heading-title">{{paragraph.field_title.value}}</h2></div>
    </div>


   <div class="billing-toggle">
      <button class="toggle-btn btn btn-primary active" data-billing="monthly">Monthly</button>
      <button class="toggle-btn btn btn-outline" data-billing="yearly">Yearly</button>
  </div>
 




 {% if content.field_plans|render %}
          {{ content.field_plans|without('wrapper') }}
    {% endif %}





</div>
</section>
