/* Button component styles */


.btn {
  display: inline-block;
  border-radius: 0.375rem;
  padding: 0.75rem 2.2rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.btn-primary
 {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-primary:hover,
.btn-primary:focus
 {
  background-color: var(--primary-hover-color);
  color: var(--white-color);
  border-color: var(--primary-hover-color);
}

.btn-secondary {
  background-color: var(--base-dark-color);
  color: var(--white-color);
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--dark-slate-color);
  color: var(--white-color);
  border-color: var(--base-dark-color);
}
.btn-outline {
  border-color: var(--primary-color);
  background-color: var(--white-color);
}

.btn-outline:hover,
.btn-outline:focus {
  border-color: var(--primary-hover-color);
  background-color: var(--gray-color-25);
}
