/* Footer component styles */

footer {
  padding: 40px 0;
}

.footer-wrapp {
  grid-template-columns: repeat(4, 1fr);
}
.social-links {
  gap:10px;
}
.region-footer-bottom {
    margin-block-start: 15px;
    border-top: 1px solid var(--dark-slate-color);
    padding-block-start: 15px;
    text-align: center;
}
.site-footer h2{
font-size: 1.3rem;
}
