/* Header component styles */

.site-header {
  padding: 20px 0;
}
.site-header .d-flex {
  justify-content: space-between;
}

.drtracker-site-branding {
  width: 140px;
  justify-content: space-between;
}

.site-branding__name {
  font-weight: 600;
}