.job-page {
  padding: 40px 0;
}

.job-header .description {
  padding-top: 30px;
  max-width: 500px;
  margin: auto;
}

.job-wrapp {
   grid-template-columns: 65% 35%;
}
.jobs-text {
  padding: 15px 0;
}
.job-page ul {
    list-style: disc;
    margin-inline-start: 15px;
}

.job-label {
  font-size: 1.7rem;
}
.job-details-box {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: var(--border-radius);
}
.job-details-box h5 {
  color: var(--white-color);
  margin-bottom: 20px;
}
job-details-list ul {
  margin-inline-start: 20px;
}
.job-details-list li {
  padding: 12px 0;
  position: relative;
}

.job-details-box .btn-outline {
  width: 100%;
}

.article-body {
  padding-block: 25px;
}
.article-img {
  padding-top: 30px;
}
.article-img img,.integration-wrapp .integration-item img {
  border-radius: 12px;
}

.integration-body {
  padding: 40px 0;
}
section.heading {
  margin-block-end: 35px;
}
