 .scroll-top.active{
    visibility: visible;
    opacity: 1;
}


.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    color: var(--dark-color);
    color: var(--white-color); 
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.fa-circle-arrow-up {
    font-size: 2.2rem;
}
