.hero {
  background-color: var(--gray-color);
}

.section-desc {
  padding: 20px;
  text-align: center;
}

.partners-logos {
  grid-template-columns: repeat(6, 1fr);
}

.before-title {
  max-width: max-content;
  padding: 6px 8px;
  background-color: var(--bgtag-color);
  color: var(--primary-color);
  display:block;
  margin: 10px auto;
  border-radius: 0.375rem;
}
.before-title-icon {
  margin-right: 8px;
}
.fa-fire {
  color: #F15757;
}
.section-title {
  padding: 10px;
  position:relative;
  max-width: 860px;
  margin: 10px auto;
  text-align:center;
}
.heading-title {
  position:relative;
  z-index:1;
}
.heading-title::after {
    content: ''; 
    position: absolute; 
    bottom: 3px; 
    left: auto;
    right: 22px; 
    height: 20px; 
    background-color: var(--green-w-color); 
    width: 220px;
    z-index:1;
}
