.hero {
  background-color: var(--gray-color);
}

.section-desc {
  padding: 20px;
  text-align: center;
}

.partners-logos {
  grid-template-columns: repeat(6, 1fr);
}

.before-title {
  max-width: max-content;
  padding: 6px 8px;
  background-color: var(--bgtag-color);
  color: var(--primary-color);
  display:block;
  margin: 10px auto;
  border-radius: 0.375rem;
}
.before-title-icon {
  margin-right: 8px;
}
.fa-fire {
  color: #F15757;
}
.section-title {
  padding: 10px;
  position:relative;
  max-width: 860px;
  margin: 10px auto;
  text-align:center;
}
.heading-title {
  position:relative;
  z-index:1;
}
h1.heading-title::after {
  right: 60px;
  width: 455px;
}
h2.heading-title::after {
      right: 120px;
       width: 298px;
}
.heading-title::after {
    content: ''; 
    position: absolute; 
    bottom: 3px; 
    left: auto;
    height: 20px; 
    background-color: var(--green-w-color); 
    z-index:-1;
}
.hero-btns-wrapp {
  padding:25px 0;
  grid-column-gap:20px;
  grid-row-gap:20px;
  justify-content: center;
  flex-direction: row;
}
.features-wrapp-top {
  grid-template-columns: 3fr 2fr;     
  gap: 40px;                                      
}

.features-wrapp-top .features-item:nth-child(1) {
  grid-template-columns: 1fr 1fr;
}
.features-wrapp-top .features-item:nth-child(1) .features-content__text {
  padding-block-end: 40px;
}
.features-wrapp-top .features-item:nth-child(2) .features-content__text,
.features-wrapp-top .features-item:nth-child(2) .features-content__title {
    padding-inline: 20px;
}

.features-item {
  background-color: var(--gray-color);
  padding: 10px;
  border-radius: 0.375rem;
}
.features-wrapp-bottom {
  grid-template-columns: repeat(3, 1fr);
}
.features-content__title {
  padding-block: 20px;
}

.card {
  background-color: var(--gray-color);
  padding: 15px;
  border-radius: 0.375rem;
}
.card__image img{
  width: 70px;
}

.features-wrapp-top, .features-wrapp-bottom {
  padding: 20px 0;
}
.feature-image__right {
  margin-bottom: -15px;
}
.solution-wrapp {
  grid-template-columns: repeat(2, 1fr);
}
.wrapp-title {
  position:relative;
  padding-block: 20px;
}
