.swiper-slide {
  box-sizing: border-box;
}

.swiper-container {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  height: auto;
}

.testimonial-slide {
  
}

.client-card {
  
}


.client-info {
  padding: 15px;
}



.client-job {
  font-size: 15px;
  color:var(--dark-slate-color);
  margin-bottom: 10px;
}

.client-text {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

/* Navigation */
.swiper-button-next,
.swiper-button-prev {
  color: #0d6efd;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Pagination */
.swiper-pagination-bullet {
  background: #0d6efd;
}
