.swiper-slide {
  box-sizing: border-box;
}

.swiper-container {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  height: auto;
}

.testimonial-slide {
  
}

.card-head {
  margin-block-end: 10px;
  border-bottom: 1px solid var(--dark-slate-color);
}

.client-name {
  font-size: 1.12rem;
}

.client-info {
  padding: 15px;
}



.client-job {
  font-size: 15px;
  color:var(--dark-slate-color);
  margin-bottom: 10px;
}

.client-text {
  font-size: 14px;
  line-height: 1.6;
}

/* Navigation */
.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  background: var(--white-color);
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Pagination */
.swiper-pagination-bullet {
  background: var(--primary-color);
}

.client-stars {
  margin-block: 15px;
}

.client-stars .fa-star {
   color: var(--orange-w-color);
}



/* Optional: Adjust position for the next button specifically */
.swiper-button-next {
  right: 10px; /* Example: 10px from the right edge */
}

/* Optional: Adjust position for the previous button specifically */
.swiper-button-prev {
  left: 10px; /* Example: 10px from the left edge */
}
.bottom-pos {
    bottom: 10px;
    top: auto;
    /* Center them horizontally in a flexible container or with specific left/right margins */
}
