.views-view-responsive-grid__item-inner {
   padding: 20px;
   background-color: var(--gray-color);
   border-radius: var(--border-radius);
}

.views-field-field-image img{
  border-radius: 12px;
}

.blog-views-link {
    float: right;
}
