.views-view-responsive-grid__item-inner {
   padding: 20px;
   background-color: var(--gray-color);
   border-radius: var(--border-radius);
}
.views-field-field-image {
   margin-block-end: 20px;
}

.views-field-field-image .field-content {
   height: 260px;
}

.views-field-field-image img{
  border-radius: 12px;
  height: 100%;
  object-fit: cover; 
}

.blog-views-link {
    float: right;
}

.tags-wrapp {
   padding-block: 30px;
   text-align:center;
}

.tags-wrapp a {
   margin-inline: 20px;
}
